:root{
    --dark-green: #002500;
    --russian-green: #6A8D73;
    --blanched-almond: #f0efeb;
    --mydarkpurple: #5D576B;
    --my-purple: #807891;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.site-container{
    display: grid;
    grid-template-rows: 11.3vh 88.7vh;
}

.class-container{
    display: grid;
    grid-template-rows: repeat(3, auto);
}

#header{
    align-self: center;
    background-color: var(--my-purple);
    color: white;
    padding: 5px;
    padding-left: 20px;
}

.display-container{
    display: grid;
    grid-template-columns: 16rem auto;
    gap: 4%;
}

.add{
    background-color: rgb(230, 163, 82);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: none;
    color: white;
}

.add:hover{
    background-color: black;
    background: black;
    color: white;
}

.hidden{
    display: none;
}

.active, .project:hover{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    width: 100%;
}

.project:hover .delete-project{
    display: block;
}

button{
    background-color:white;
    color: black;
    border: solid .7px black;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
}

.project{
    border-radius: 10px;
    align-content: center;
    margin-left: 1rem;

    display: grid;
    grid-template-columns: 11.5rem 2rem;
    grid-gap: 0.5em;

}

#project-area{
    background-color: var(--blanched-almond);
}

.project-title{
    padding-left: 1.2em;

    word-wrap: normal;
    font-size: 0.95rem;
}

.project-category{
    font-size: 1.15rem;
    margin-left: 1.1em;
}

.delete-task, .edit-task{
    align-self: center;
    justify-self: center;
    height: 1.8rem;
}

.delete-task:hover{
    background-color: rgb(230, 230, 230);
    color: white;
    border: none;
}

.delete-project{
    display: none;
    align-self: center;
    justify-self: left;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: none;
}

.delete-project:hover{
    background-color: white;
    color: rgba(252,176,69,1);
    border: none;
}

#project-form-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'input input'
        'add cancel'
}

#project-title{
    grid-area: input;

    width: 75%;
    align-self: center;
    justify-self: center;

    padding: 0.2rem;
    margin-left: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
}

#cancel-add-project{
    width: 30%;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

#add-project{
    justify-self: right;
    width: 25%;
    padding: 0.5rem;
    margin: 0 0.5rem 0 2.3rem;
}



#open-project-form, #open-task-form{
    margin-left: 3.5rem;
    margin-top: 2rem;
    justify-self: center;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 0.6rem;
    padding-right: 0.7rem;

    font-size: 1rem;
}


#task-list{
    display: grid;
    gap: 10px;
}

.task{
    border: solid black 1px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 60% 15% 8% 6%;
    margin-right: 10%;
}

#project-list{
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    padding-right: 17px;
    max-height: 50vh;
    max-width: 700px;
}

#open-task-form{
    margin-left: 0;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 140px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #curr-project-title{
      margin-top: 50px;
      margin-bottom: 20px;
  }

  .task-details, .task-title{
      margin-left: 15px;
  }

  .due-date{
      align-self: center;
  }