:root{
    --dark-green: #002500;
    --russian-green: #6A8D73;
    --blanched-almond: #f0efeb;
    --mydarkpurple: #5D576B;
    --my-purple: #807891;
    --task-header: #f0efeb;
    --task-header-hover: #f8f8f6;
    --background: #e69c7571;
    --salmon: #f28482;
    --pinky: #eeacab;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

.site-container{
    display: grid;
    /* grid-template-rows: 90px 745px; */
    grid-template-rows: 90px 89.5vh;
}

.class-container{
    display: grid;
    grid-template-rows: repeat(3, auto);
}

#header{
    align-self: center;
    background-color: var(--salmon);
    color: white;
    padding: 5px;
    padding-left: 2rem;
    padding-top: 1rem;

    box-shadow: 1px 0.5px 5px rgb(155, 155, 155);
    position: relative;
    z-index: 2;
}

.logo{
    font-family: 'Bungee Shade', cursive;
    font-size: 2.3rem;
    cursor: default;
}

.display-container{
    display: grid;
    grid-template-columns: 17rem auto;
    gap: 4%;
}

.add, #project-form button{
    background-color: rgb(230, 163, 82);
    background: radial-gradient(circle,rgba(157, 75, 211, 0.7) 20%,  rgba(167, 96, 214, 0.7)100%);
    border: none;
    color: white;
}

.add:hover, #project-form button:hover{
    background: radial-gradient(circle,rgba(131,58,180, .55) 20%,  rgba(146, 89, 184, 0.55)100%);
    color: white;
}

.active, .project:hover{
    background: linear-gradient(90deg, rgba(131,58,180, 0.6) 0%, rgba(253,29,29, 0.6) 50%, rgba(252,176,69, 0.6) 100%);
    color: white;
}

.project:hover .delete-project{
    display: block;
    cursor: pointer;
}

.project{
    border-radius: 7px;
    align-content: center;
    margin-left: 0.8rem;

    display: grid;
    grid-template-columns: 10.5rem 1rem;
    grid-gap: 0.5em;

    cursor: pointer;
    width: 95%;
}

#project-area{
    background-color: var(--pinky);
    padding: 1rem;
    padding-right: 0.6em;
}

.project-title{
    padding-left: 1.2em;
    word-wrap: normal;
    font-size: 0.95rem;
}

.project-category{
    font-size: 1.15rem;
    margin-left: 1.1em;
    cursor: default;
}

#project-list{
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    max-height: 50vh;
    max-width: 700px;

    box-shadow: inset -10px -10px 10px 30px var(--pinky);
    position: relative;
    z-index: 1;
}

.delete-project{
    display: none;
    align-self: center;
    justify-self: left;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: none;
}

.delete-project:hover{
    background-color: white;
    color: rgba(252,176,69,1);
    border: none;
}

.project-form-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'input input'
        'error error'
        'add cancel'
}

.hidden{
    display: none;
}

#project-title{
    grid-area: input;

    width: 75%;
    align-self: center;
    justify-self: center;

    padding: 0.2rem;
    
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    height: 1.5rem;
}

.logo, .project-category{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

h3{
    font-weight: normal;
}

#project-form input{
    border-radius: 4px;
    border: 2px solid #f0f0f0;
    font-family: inherit;
    font-size: 0.9em;
    padding: 0.4em;
    width: 90%;
}

#project-form input:focus{
    outline: 0;
    border-color: #777;
}

button{
    border-radius: 4px;
    cursor: grab;
}

#project-form button{
    border-radius: 4px;
    width: 90%;
    padding: 0.75em;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-size: 0.9em;
}

#add-project{
    justify-self: right;
}

#project-form small{
    grid-area: error;
    margin-bottom: 0.5rem;
    margin-left: 5px;
    margin-top: 0.2em;
    padding: 0.2em;
    visibility: hidden;
    color: red;
}

#project-form.error small{
    visibility: visible;
}

#project-form.success input{
    border-color: #2ecc71;
}