:root{
    --dark-green: #002500;
    --russian-green: #6A8D73;
    --blanched-almond: #f0efeb;
    --mydarkpurple: #5D576B;
    --my-purple: #807891;
    --task-header: #f0efeb;
    --task-header-hover: #f8f8f6;
}

#open-project-form, #open-task-form{
    margin-left: 3.5rem;
    margin-top: 2rem;
    justify-self: center;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 0.6rem;
    padding-right: 0.7rem;

    font-size: 1rem;
}

#task-area{
    padding: 3rem;
    padding-top: 2.5rem;
}

.task-title{
    font-size: 1.1em;
    margin: 0.6em;
}

#task-list{
    display: grid;
    gap: 10px;
}


#open-task-form{
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}

.delete-task{
    align-self: center;
    justify-self: center;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 30%;
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.task-header:hover .delete-task{
    display: block;
}

.delete-task:hover{
    background-color: var(--my-purple);
    color: white;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
    border: 1px solid #888;
    border-radius: 3.5px;
    width: 50%;

    display: grid;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    justify-self: right;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #curr-project-title{
      margin-top: 2rem;
      margin-bottom: 20px;
      font-size: 1.8rem;
      padding-bottom: 0.25rem;

      cursor: default;

      -webkit-user-select: none; /* Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
  }

  .task-details, .task-title{
      margin-left: 15px;
  }

  .task-details{
      border: solid var(--task-header) 1px;
      border-top: none;
      border-radius: 0px 0px 3px 3px;

      margin: 0;
      padding: 0;
      margin-right: 10%;

      padding-left: 0.8rem;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;

  }

  .task-description, .task-priority{
    margin: 0.65em;
 }
 .task-description{
     font-style: italic;
 }

  .due-date{
      align-self: center;
      justify-self: right;
      padding-right: 1rem;
      font-size: 0.85rem;
  }

  .task-header{
      background-color: var(--task-header);
      margin: 0;
      padding: 0;
      border-radius: 3px;

      display: grid;
      grid-template-columns: 68% 26% 3% 3%;
      margin-right: 10%;

      cursor: pointer;
  }

  .task-header{
    grid-template-columns: 74% 26%;
  }

  .task-header:hover{
    grid-template-columns: 66% 26% 4% 4%;
  }

  .task-header:hover{
      background-color: var(--task-header-hover);
  }

  .overdue{
      color: red;
  }

  #add-task-header{
      text-align: center;
  }

  .user-input{
      margin: 1rem;
      margin-top: 1.3rem;
  }

  #priority{
      width: 85%;
  }

  .edit-task{
    display: none;
    align-self: center;
    justify-self: center;
    height: 1.8rem;
    background-color: transparent;
    border: none;
}

.task-header:hover .edit-task{
    display: block;
}

.edit-task:hover{
    background-color: var(--my-purple);
    color: white;
}

  
  #low, #medium, #high{
      margin-left: 1.4rem;
      margin-right: 0.5rem;
  }

  #newTask-dueDate, #newTask-description, #task-title, #add-task{
      margin-left: 15px;
      height: 2em;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      width: 40%;
  }

  fieldset{
      border: solid 1px black;
      border-radius: 3px;
      padding: 0.8rem;
  }

  #add-task{
    width: 105px;
    height: 40px;
    
    margin-top: 10px;

    align-self: center;
    justify-self: center;
  }

  #newTask-dueDate{
      width: 8.11rem;
  }

  .high{
    border-left: red solid 4px;
  }

  .medium{
    border-left: yellow solid 4px;
  }

  .low{
      border-left: green solid 4px;
  }

  .task{
      cursor: default;
  }


 label{
     font-size: 0.9em;
 }

 .form-error{
     font-size: 0.7em;
     color: red;
 }



